/* Inicio CSS Seção Destaque*/

:root {
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.904);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.section_destaque {
  align-items: center;
  /*background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%); */
  background-image: url(./img/fundo-destaque.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card_grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px) {
  .card_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 960px) {
  .card_grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  list-style: none;
  position: relative;
}

.card:before {
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card_fundo {
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition:
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover .card_fundo {
  transform: scale(1.05) translateZ(0);
}

.card_grid:hover>.card:not(:hover) .card_fundo {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card_conteudo {
  left: 0;
  padding: 15px;
  position: absolute;
  top: 0;
}

.card_categoria {
  color: var(--text-light);
  font-size: 1.1rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;

}

.card_titulo {
  color: var(--text-lighter);
  font-size: 1.8rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 340px;
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Bebas Neue', sans-serif;*/

}

/* Fim CSS Seção Destaque*/


/* Inicio CSS Seção Demais*/

/* Lazy Load Styles */
.card-image {
  display: block;
  min-height: 10rem;
  /* layout hack */
  height: 23rem;
  background: #fff center center no-repeat;
  background-size: cover;
  filter: blur(3px);
  /* blur the lowres image */

}

#img2 {
  opacity: 1;
}

#description2 {
  padding-top: 5rem;
}


.card-image>img {
  display: block;
  width: 100%;
  opacity: 0;
  /* visually hide the img element */
}

.card-image.is-loaded {
  filter: none;
  /* remove the blur on fullres image */
  transition: filter 1s;
}




/* Layout Styles */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}


.card-list {
  display: block;
  margin: 1rem auto;
  padding: 0;
  font-size: 0;
  text-align: center;
  list-style: none;
  background-image: url("./img/fundo-destaque\ -\ areia.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-demais {
  display: inline-table;
  width: calc(25% - 2rem);
  /* 25% para 4 cards por linha e 2rem de margem à direita */
  margin: 1rem;
  font-size: 1rem;
  text-decoration: none;
  overflow: hidden;
  box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
  transition: transform 0.1s ease-in-out, box-shadow 0.1s;
  border-radius: 25px;
  position: relative;
  background-color: transparent;
}


.card-demais:hover {
  transform: translateY(-0.5rem) scale(1.0125);
  box-shadow: 0 0.5em 3rem -1rem rgba(0, 0, 0, 0.5);
}

.card-description-demais {
  display: block;
  padding: 1em 0.5em;
  color: #000000;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}

.card-description-demais>h2 {
  margin: 0 0 0.5em;
}

.card-description-demais>p {
  margin: 0;
}



/* FOOTER */

.site-footer {
  background-color: #515151;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
  height: 10rem;

}

.site-footer hr {
  border-top-color: #fff;
  opacity: 0.5
}

.site-footer hr.small {
  margin: 20px 0
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px
}

.site-footer a {
  color: #fff;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.copyright-text {
  margin: 0
}

@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px
  }
}

@media (max-width:767px) {
  .site-footer {
    padding-bottom: 0
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center
  }
}

/* Fim CSS Seção Demais*/