div.container{
    width: 100%;
    margin: 5px;
    padding: 20px;
    align-items: center;
  }
  
  div.inputs{
    width: 60%;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid  #11684e;
    border-radius: 4px;
    background-color: #11684e98;
  }
  
  label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
  }
  
  input[type=text], input[type=email], select, textarea{
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: large;
  }
  
  textarea{
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .fbtn1{
    background-color:  rgb(241, 224, 193);
    border-radius: 4px;
    border: 1px solid #666;
    /*color: white;*/
    padding: 12px;
    text-align: center;
    display: inline-block;
    font-size: medium;
    margin: 4px 2px;
    cursor: pointer;
  
  
  }